.card {
  position: relative;
  overflow: visible;
  align-items: center;
  width: 9rem;
  height: 8rem;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  width: 65%;
  height: 70%;
  object-fit: contain;
  transform-origin: center bottom;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.overlay {
  font-family: Inter;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  color: #212121;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .image {
  transform: translateY(-45px);
  z-index: 2;
}
