.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.container__drawer__list {
  width: 20rem;
  height: 30vh;
  max-height: 35vh;
  padding: 2rem; 
  text-align: center;
  overflow-y: auto;
}

.container__drawer__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.container__drawer__title-text {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.container__drawer__title-icon {
  font-size: 1.4rem;
}


.container__action {
  margin-left: 3rem;
  color: whitesmoke;
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color-900);
}

.container__action:hover {
  background-color: var(--primary-color-700);
}

.container__action__logo {
  font-size: 3rem;
}

.subtask {
  margin-left: 2rem;
}

.container__drawer {
  position: absolute;
  top: 0;
  transform: translate(-70%, 80%);
  transition: transform 0.3s ease-in-out; 
}

.container__drawer.open {
  transform: translate(50%, 80%);
}

.drawer__drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  background-color: whitesmoke;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}
